<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TestApp">
        <listeners>
          <add name="console" />
          <add name="object" type="Toolbox.Trace.ObjectFileTraceListener, Toolbox.Trace" initializeData="init" filename="D:\temp\trace.txt" maxCollectionCount="7" />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="TestApp" value="All" /> 
      <!-- You can turn tracing off -->
      <!--add name="TestApp" value="Off" -->
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" initializeData="false"/>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="console" />
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>